@charset "UTF-8"

/* == == == == == == == == == == == == == == == == == == ==
COLORS
	/old colors
	red: rgb(77, 20, 40);
	maroon: #312327;
	navy: #132125 OR rgb(19, 33, 37);
	tan: #dcd9c5;

	/new colors
	maroon: #26000; or 220000
	cream: #FFFCE8;
	charcoal: #1c1c1c; or 232323
	black: #000000;
== == == == == == == == == == == == == == == == == == == */

/* == == == == == == == == == == == == == == == == == == ==
GENERAL
== == == == == == == == == == == == == == == == == == == */
@font-face {
    font-family: BebasNeue;
    src: url(font/bebasneue.otf);
}

body {
	background-image: url("../links/Background Image 1_PS.jpg");
	background-color: #260000;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: local;
}

#wrapper {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

@keyframes anim1 {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* == == == == == == == == == == == == == == == == == == ==
HEADER
== == == == == == == == == == == == == == == == == == == */
#centerPiece img {
	display: block;
	margin-right: auto;
	opacity: 1;
	animation-name: anim1;
	animation-duration: 3s;
	max-width: 250px;
	max-height: 250px;
	margin-left: auto;
	margin-top: 43px;
}

#centerPiece h1 {
	font-family: 'Oswald', 'Impact', sans-serif;
	font-weight: bold;
	margin-top: 30px;
	color: #fffce8;
	animation-name: anim1;
	animation-duration: 3s;
}

#centerPiece h3 {
	font-family: 'Oswald', 'Impact', sans-serif;
	font-weight: bold;
	color: #fffce8;
	animation-name: anim1;
	animation-duration: 3s;
	margin-top: -10px;
	margin-bottom: -20px;
	padding-top: 5px;
}

#centerPiece a {
	color: #dcd9c5;
}

#centerPiece a:hover {
	opacity: .8;
}

/* == == == == == == == == == == == == == == == == == == ==
MAIN
== == == == == == == == == == == == == == == == == == == */
#mainBox {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 130px;
	animation-name: anim1;
	animation-duration: 8s;
}

/* == == == == == == == == == == == == == == == == == == ==
FOOTER
== == == == == == == == == == == == == == == == == == == */


/* == == == == == == == == == == == == == == == == == == ==
BREAKPOINTS
== == == == == == == == == == == == == == == == == == == */
@media only screen and (max-width: 740px) {			
	
}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 400px) {
	
}