@charset "UTF-8"

/* == == == == == == == == == == == == == == == == == == ==
COLORS
	red: rgb(77, 20, 40);
	maroon: #312327;
	navy: #132125 OR rgb(19, 33, 37);
	tan: #dcd9c5;
	
	/new colors
	maroon: #26000; or 220000
	cream: #FFFCE8;
	charcoal: #1c1c1c; or 232323
	black: #000000;
== == == == == == == == == == == == == == == == == == == */

/* == == == == == == == == == == == == == == == == == == ==
GENERAL
== == == == == == == == == == == == == == == == == == == */
@font-face {
    font-family: BebasNeue;
    src: url("font/BebasNeue.otf") format("opentype");
}

body {
	background-color: #260000;
}

#wrapper {
	max-width: 1100px;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* == == == == == == == == == == == == == == == == == == ==
NAV
== == == == == == == == == == == == == == == == == == == */
#topBox {
	height: 430px;
	background-image: url("../links/Antelope 1_PS.jpg") !important;
	background-size: 100% 100%;
}

#nav {
	height: 50px;
	background-color: #1c1c1c;
}

#navLeft {
	float: left;
}

#navLeft img {
	margin-right: -10px;
}

#navLeft a {
	font-family: 'BebasNeue', sans-serif;
	font-weight: bold;
	line-height: 50px;
	padding-left: 15px;
}

#navRight {
	float: right;
	padding-right: 30px;
}

#navRight a {
	padding-top: 17px;
	color: #FFFCE8;
}

.desktopDropdown {
	border-color: #FFFCE8;
	background-color: #1c1c1c;
}

.desktopDropdown a:hover {
	background-color: #260000;
}

#mobileNav {
	display: none;
}

.pageTitleBox {
	height: 350px;
	margin-left: auto;
	background-color: #FFFCE8;
}

.catLogo {
	margin-top: 35px;
}

.pageTitleBox h1 {
	font-family: "Oswald", "Impact", sans-serif;
	font-size: 52px;
	margin-top: 40px;
	color: #260000;
}

.catTheme {
	margin-top: -20px;
}

.pageIntroBox {
	height: 350px;
	margin-right: auto;
	background-color: rgba(28, 28, 28, .8);
	border-style: solid;
	border-width: 0px 4px 4px 0px;
	border-color: #FFFCE8;
}

.pageIntroBox h4 {
	font-family: "Oswald", "Impact", sans-serif;
	margin-top: 20px;
	color: #FFFCE8;
	font-size: 30px;
}


.pageIntroBox p {
	font-family: "Helvetica", sans-serif;
	color: #FFFCE8;
	line-height: 1.6;
}

#mobileCenterPiece {
	display: none;
}

/* == == == == == == == == == == == == == == == == == == ==
MAIN
== == == == == == == == == == == == == == == == == == == */
/*#siteLinksBox {
	border-style: solid;
	border-width: 0px 15px;
	border-color: #dcd9c5;;
}

#demoSiteTitle {
	background-color: rgb(77, 20, 40);
}

#demoSiteTitle h2 {
	color: #dcd9c5;
}

.bannerButton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.FoundationSiteBox {

}

.FoundationSiteBox p {
	color: #dcd9c5;
	margin: 20px 30px;
}*/
#equipmentBox {
	margin-top: -13px;
	padding-bottom: 17px;
	background-color: #260000;
	border-style: double;
	border-width: 0px 23px 0px 23px;
	border-color: #FFFCE8;
	height: auto;
}

.equipmentBoxTitle h4 {
	font-family: "Oswald", "Impact", sans-serif;
	color: #FFFCE8;
	margin-top: 5px;
	padding-top: 10px;
}

.DAWbox {
	margin-top: 20px;
	border-style: solid;
	border-width: 0px 0px 0px 3px;
	border-color: #FFFCE8;
}

.DAWbox ul {
	color: #FFFCE8;
}

.DAWbox li {
	font-family: "Helvetica", sans-serif;
	margin-left: 25px;
}

.DAWbox h5 {
	font-family: "Oswald", "Impact", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.consolesBox {
	margin-top: 20px;
	border-style: solid;
	border-width: 0px 3px 0px 3px;
	border-color: #FFFCE8;
}

.consolesBox ul {
	color: #FFFCE8;
}

.consolesBox li {
	font-family: "Helvetica", sans-serif;
	margin-left: 25px;
}

.consolesBox h5 {
	font-family: "Oswald", "Impact", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.outboardGearBox {
	margin-top: 20px;
	border-style: solid;
	border-width: 0px 3px 0px 0px;
	border-color: #FFFCE8;
}

.outboardGearBox ul {
	color: #FFFCE8;
}

.outboardGearBox li {
	font-family: "Helvetica", sans-serif;
	margin-left: 25px;
}

.outboardGearBox h5 {
	font-family: "Oswald", "Impact", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

#mobileEquipmentBox {
	display: none;
}


/* == == == == == == == == == == == == == == == == == == ==
FOOTER
== == == == == == == == == == == == == == == == == == == */
#footer {
	background-color: #1c1c1c;
}

.contactBox {
	padding: 20px 0px 10px 15px;
	color: #FFFCE8;
}

.mobileContactBox {
	display: none;
}

/*.socialMediaBox img {
	float: right;
	max-width: 50px;
	margin: 9px 15px 0px 0px;
}

.socialMediaBox img:hover {
	opacity: .7;
}

.mobileSocialMediaBox {
	display: none;
}*/
/* == == == == == == == == == == == == == == == == == == ==
BREAKPOINTS
== == == == == == == == == == == == == == == == == == == */
@media only screen and (max-width: 850px) {
	/*begin formatting for mobile page header*/
	#topBox {
		height: auto;
		background-image: url("../links/Antelope 1_PS.jpg") !important;
	}

	#centerPiece {
		display: none;
	}

	#mobileCenterPiece {
		display: block;
		padding: 0px 20px 0px 20px;
	}

	.mobilePageTitleBox {
		height: auto;
		margin-left: auto;
		background-color: #FFFCE8;
	}

	.catLogo {
		max-height: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	}

	.mobilePageTitleBox h1 {
		font-family: "Oswald", "Impact", sans-serif;
		font-size: 50px;
		color: #260000;
		padding-bottom: 5px;
	}

	.catTheme {
		width: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 5px;
	}

	.mobilePageIntroBox {
		height: auto;
		margin-right: auto;
		background-color: rgba(28, 28, 28, .8);
		border-style: solid;
		border-width: 0px 4px 4px 4px;
		border-color: #FFFCE8;
	}

	.mobilePageIntroBox h4 {
		font-family: "Oswald", "Impact", sans-serif;
		margin-top: 20px;
		color: #FFFCE8;
	}


	.mobilePageIntroBox p {
		font-family: "Helvetica", sans-serif;
		font-size: 18px;
		color: #FFFCE8;
		line-height: 1.6;
	}
	/*end formatting for mobile page header*/

	/*begin formatting for skills accordion*/
	#equipmentBox {
		display: none;
	}

	#mobileEquipmentBox {
		display: block;
		margin: 0px 25px 0px 25px;
	}

	.mobileEquipmentAccordion h4 {
		font-family: "Oswald", "Impact", sans-serif;
		color: #FFFCE8;
		padding-top: 15px;
	}

	.skillsAccordion {
		margin: 20px 0px 30px 0px;
	}

	.accordion-title {
		font-size: 16px;
		font-weight: bold;
		color: #260000;
		background-color: #FFFCE8;
	}

	.accordion-content {
		background-color: #1c1c1c;
	}

	.accordion-content {
		color: #FFFCE8;
	}
	/*end formatting for skills accordion*/
}

@media only screen and (max-width: 639px) {
	/*For mobile nav*/
	#desktopNav {
		display: none;
	}

	#mobileNav {
		display: block;
	}

	#mobileNav button {
		padding-bottom: 2px;
	}

	.title-bar {
		background-color: rgba(28, 28, 28, .3);
		height: 50px;
	}

	.title-bar a {
		font-weight: bold;
		color: #FFFCE8;
	}

	.title-bar button {
		margin-right: auto;
		margin-left: auto;
	}

	#example-menu {
		background-color: #1c1c1c;
		color: #260000;
	}

	.mobileDropdown a {
		color: #260000;
	}

	.mobileDropdown a:hover {
		background-color: #260000;
		color: #FFFCE8;
	}
	/*end for mobile nav*/

	.contactBox {									/*swapping desktop for mobile footer content*/
		display: none;
	}

	.mobileContactBox {
		display: block;
		padding: 15px 0px 4px 15px;
		color: #FFFCE8;
	}

	.mobileContactBox h5 {
		font-size: 16px;
	}

	/*.socialMediaBox {
		display: none;
	}

	.mobileSocialMediaBox {
		display: inline-block;
	}

	.mobileSocialMediaBox img {
		max-width: 50px;
		margin: 0px 7px 12px 0px;
	}

	.mobileSocialMediaBox img:hover {
		opacity: .7;
	}*/
	/*end desktop mobile footer formatting*/
}